---
layout: default
overview: true
title: coding with spice
---
<div id="content-wrapper">
	<div class="inner clearfix">
		<section id="main-content">

			{% for post in site.front_pages %}
				<h2><a name={{ post.title | cgi_escape }} class="anchor"></a>{{ post.title }}</h2>
				{{post.content}}
			{% endfor %}


		</section>

		<style>
		/* required to avoid jumping */
		#commentWrapper { 
			left: 690px;
			position: absolute;
			margin-left: 35px;
			width: 280px;
		}

		#comment {
			position: absolute;
			top: 0;
			/* just used to show how to include the margin in the effect */
			margin-top: 20px;
			padding-top: 19px;
		}

		#comment.fixed {
			position: fixed;
			top: 0;
		}
		
		#thanks {
			position: fixed;
			bottom: 0;
		}
		
/*				#thanks.fixed {
			position: fixed;
			bottom: 0;
		}*/
		</style>

		<div id="commentWrapper">
			<div id="comment">
				<aside id="sidebar">
					<h4></h4>
					<u>
						{% for post in site.front_pages %}
							<li><a href=#{{ post.title | cgi_escape }}>{{ post.title }}</a></li>
						{% endfor %}
					</u>
				</aside>
			</div>
		</div>
		<script>
		$(document).ready(function () {  
			var top = $('#comment').offset().top - parseFloat($('#comment').css('marginTop').replace(/auto/, 0));
			$(window).scroll(function (event) {
				// what the y position of the scroll is
				var y = $(this).scrollTop();

				// whether that's below the form
				if (y >= top) {
					// if so, ad the fixed class
					$('#comment').addClass('fixed');
					$('#thanks').addClass('fixed');
				} else {
					// otherwise remove it
					$('#comment').removeClass('fixed');
					$('#thanks').removeClass('fixed');
				}
			});
		});
		</script>
	</div>
</div>