<article class="article">
	<h2 class="archive-title">
		<a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
	</h2>

	<div class="post-date">
		{{ post.date | date_to_string }}
	</div>

	<span class="post-categories">
		{% for category in post.categories %}
			<span class="post-category {% if page.category == category%}active {% endif %}"><a href="{{ site.url }}/news/categories/{{ category }}" class="post-category-link">{{ category }}</a></span>
		{% endfor %}
	</span>
</article>