<a name="remove_me" class="hash"></a>
<header>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container spec-container">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
	  </button>
	  <a href="{{ site.url }}/" class="navbar-brand">
		<span class="title">Spec</span>
		<img class="flake" src="{{ site.url }}/images/flake72.png" width="72" height="72" alt="">
	  </a>
	  {% include primary-nav-items.html %}
	  <a href="https://github.com/SpecForPharo" class="button"><small>Follow Spec on </small>GitHub</a>
	</div>
  </nav>
</header>
