<a name="remove_me" class="hash">
<header>
	<div class="grid">
		<div class="unit one-third center-on-mobiles">
			<div class="inner">
				<h1>
					<a href="{{ site.url }}/" class="spec-header">
						<span class="title">Spec</span>
						<img class="flake" src="{{ site.url }}/images/flake72.png" width="72" height="72" alt="">
					</a>
				</h1>
				{% include primary-nav-items.html %}
				<a href="https://github.com/SpecForPharo" class="button"><small>Follow Spec on </small>GitHub</a></div>
			</div>
		</div>
	</div>
</header>