header {
	padding-top: 15px}
	
.title {
	color: #FFFFFF;
}

.flake{
	vertical-align: middle;
	margin-left: -20px;
}

	.nav {
	padding-left: 100px;
}

.nav-a {
	color: #FFF;
	background: #327bcf;
	border: 1px solid #275da1;
}

.nav-a:hover, .nav-a:focus {
	background-color: #fff;
	color: #327bcf;
}
li.nav-item.active > a, li.nav-item.active > a:hover, li.nav-item.active > a:focus {
	color: #275da1;
	font-weight: bolder;
	background-color: #f2c025;
	border: 1px solid #f2c025;
}

.nav-pills {
	position: absolute;
	top: 15px;
	right: 280px;
}

.spec-header:hover {
	text-decoration: none;
}

footer {
	padding-left: initial;
	width: initial;
	margin-top: 80px;
}

#commentWrapper {
	left: 690px;
	position: absolute;
	margin-left: 50px;
	width: 280px;
}

#comment {
	position: absolute;
	top: 0;
	margin-top: 20px;
	padding-top: 19px;
}

#comment.fixed {
	position: fixed;
	top: 0;
}

#thanks {
	position: fixed;
	bottom: 0;
}

#sidebar > h4::before {
	content: '';
}

#sidebar > h4 {
	background: url(../images/flake22.png) no-repeat left transparent;
	padding-left: 100px;
	font-size: 28px;
}

.post{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}

div.highlight > pre > code{
	color: #d3d3cd;
	background-color: transparent;
}

div.highlight > pre {
	white-space: pre;
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
	font-size: 14px;
	padding: 0 1.5em;
	line-height: 1.8em;
	background: #444;
	padding-bottom: 1.5em;
}

.footer-text {
	margin-bottom: -30px;
	text-align: center;
}

.sidebar_category{
	list-style-type: none;
	font-size: 16px;
}

.sidebar_category.current:before {
	font-family: 'FontAwesome';
	content: '\f0a4';
	margin-left: -24px;
	color: #317bcf;
	font-size: 18px;
	margin-right: 2px;
	margin-top: 0;
	margin-bottom: 0;
}

.sidebar_item {
	list-style-type: none;
	font-size: 16px;
}

.sidebar_item.current:before {

    
	font-family: 'FontAwesome';
	content: '\f0a4';
	margin-left: -24px;
	color: #317bcf;
	font-size: 18px;
	margin-right: 6px;
	margin-top: 0;
	margin-bottom: 0;
}

aside#sidebar {
	width: 244px;
}

.post-content {
	text-align: left;
}

.post-categories{

 
	vertical-align: text-bottom;
	display: inline;
}

.post-category {
	vertical-align: middle;
	color: #FFFFFF;
	background: #317bcf;
	border-color: #000000;
	border-width: 1px;
	border-radius: 1.25em;
	padding: 1px 6px 3px 6px;
	font-size: 75%;
	font-weight: bold;
	line-height: 1em;
}

.post-category.active{
	color: #275da1;
	font-weight: bolder;
	background-color: #f2c025;
	border: 1px solid #f2c025;
}

.post-category.active > a, .post-category.active > a:hover {
	color: #275da1;
	text-decoration: none;
}

.post-category-link, .post-category-link:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#post_author {
	position: absolute;
	top: 0;
	right: 0;
}

.article {
	position: relative;
}

.archive-title {
	display: inline;
}

.archive-year {
	font-size: 44px;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: bold;
	color: #666666;
	margin-left: -60px;
}

.post-date {
	display: inline;
}

.post-meta{
	margin-bottom: -10px;
}

.post-content > div > pre > code{
	color: #d3d3cd;
	background-color: transparent;
}

.post-content > div > pre {
	white-space: pre;
	text-align: left;
	padding: 0;
	font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
	font-size: 14px;
	padding: 0 1.5em;
	line-height: 1.8em;
	background: #444;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}

.section-nav{
	text-align: center;
	padding-top: 20px;
}

#main-content > div > article > hr {
	height: 1px;
	color: #aaaaaa;
	background: #aaaaaa;
	font-size: 0;
	border: 0;
}

body > div > footer {
	width: initial;
	padding-left: initial;
}

body > div.footer > footer > div > div > p {
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.home_title{
	text-align: center;
	font-size: 70px;
	line-height: 1em;
	background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;

 
	font-weight: 400;
	color: #317bcf;
}

.home_boxes{
	display: inline-block;
	margin-top: 30px;
}

.home_box{
	width: 310px;
	display: inline-table;

	;
	text-align: center;
	height: 260px;
	position: relative;
	border-width: 1px;
	border-color: #275da1;
	border-style: solid;
	background: transparent url(../images/header-bg.jpg) 0 0}

.home_wrapper {
	text-align: center;
}

.box_title {
	font-size: 32px;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: bold;
	color: #fff;
}

.box_paragraph {
	color: #fff;
	text-align: left;
	margin-top: 10px;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 1.5em;
	word-spacing: .5em;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: bold;
}

.home_link {
	bottom: 10px;
	position: absolute;
	color: #f2c025;
	text-align: left;
	margin-top: 10px;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 1.5em;
	word-spacing: .5em;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: bold;
	left: 0;
}

.home_link:hover {
	color: #f2c025;
}

.footer footer {
	padding-bottom: 0;
}

.escape-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav-btn {
	width: 60px;
}
