#main-content h2 {
	font-weight: initial;
}

.spec-container {
	max-width: 940px !important;
}

.title {
	color: #FFFFFF;
	letter-spacing: -1px;
	font-size: 72px;
	font-family: 'Lobster', 'Helvetica Neue', Helvetica, Arial, serif;
}

.flake{
	vertical-align: middle;
}

.navbar.navbar-static-top {
	margin: 0;
}

.navbar-toggle {
	background: white;
}

.navbar-brand {
	padding: 0;
	font-size: 72px;
}

.navbar-toggle .icon-bar {
	background: #275da1;
}

.nav {
	padding-left: 50px;
	padding-top: 16px;
}

.nav-a {
	color: #FFF;
	background: transparent;
	border: 2px solid #FFF;
}

.nav-a:hover, .nav-a:focus {
	background-color: #fff;
	color: #327bcf;
}

.nav-pills>li>a {
	border-radius: 6px;
}

li.nav-item.active > a, li.nav-item.active > a:hover, li.nav-item.active > a:focus {
	color: #275da1;
	background-color: #edc51e;
	border: 2px solid #edb700;
}

.nav > li > a {
	font-family: 'Lobster';
	font-size: 28px;
	padding: 8px;
	margin: 2px;
	border-radius: 6px;
}

.nav > li.active > a {
	color: #275DA1;
	background-color: #EDC51E;
	border: 2px solid #EDB700;
}

.nav-pills {
	position: absolute;
	top: 18px;
	right: 240px;
}

header {
	padding: 20px 0;
}

header .navbar.nav-right {
	float: right;
}

header .navbar.nav-right a.button {
	color: white;
	text-decoration: none;
	top: 1px;
	font-family: 'Vollkorn', 'Helvetica Neue', Helvetica, Arial, serif;
	top: -20px;
	padding-left: 80px;
	padding-top: 20px;
	background: url('../images/github-button.png') no-repeat scroll 0px 0px transparent;
}

@media only screen and (max-width: 991px) {
	header .navbar.nav-right a.button {
		min-height: 40px;
		margin-top: 21px;
		background-image: none;
		width: 100px;
		height: auto;
		display: inline-block;
		padding: 5px 10px;
		text-align: center;
		font-size: 13px;
		line-height: 1;
		background-color: transparent;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border-color: white;
		border-style: solid;
		border-width: 2px;
		font-weight: bold;
		padding-top: 7px;
	}
	a.button small {
		font-weight: normal;
	}
	.nav {
		padding-left: 12px;
	}

	p.home_title {
		font-size: 52px;
	}
}

@media only screen and (max-width: 991px) {
	header .navbar.nav-right a.button {
		min-height: 40px;
		margin-top: 21px;
		background-image: none;
		width: 100px;
		height: auto;
		display: inline-block;
		padding: 5px 10px;
		text-align: center;
		font-size: 13px;
		line-height: 1;
		background-color: transparent;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border-color: white;
		border-style: solid;
		border-width: 2px;
		font-weight: bold;
		padding-top: 7px;
	}
	a.button small {
		font-weight: normal;
	}
	.nav {
		padding-left: 12px;
	}

	p.home_title {
		font-size: 52px;
	}
}

@media only screen and (max-width: 450px) {
	p.home_title {
		font-size: 38px;
	}
}


.spec-header:hover {
	text-decoration: none;
}


footer {
	padding-left: initial;
	width: initial;
	margin-top: 80px;
}

#commentWrapper {
	left: 690px;
	position: absolute;
	margin-left: 50px;
	width: 280px;
}

#comment {
	position: absolute;
	top: 0;
	margin-top: 20px;
	padding-top: 19px;
}

#comment.fixed {
	position: fixed;
	top: 0;
}

#thanks {
	position: fixed;
	bottom: 0;
}

#sidebar > h4::before {
	content: '';
}

#sidebar > h4 {
	padding-bottom: 0px;
	padding-left: 64px;
	font-family: 'Vollkorn', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 28px;
}

.post{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}

.bash {
	color: #d3d3cd;
	margin-bottom: 20px;
	white-space: pre;
	display: inline-block;
	background-color: transparent;
}

div.highlight > pre {
	text-align: left;
	margin: 0;
	font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
	font-size: 14px;
	padding: 1.5em;
	line-height: 1.8em;
	background: #444;
}

.footer-text {
	margin-bottom: -30px;
	text-align: center;
}

.sidebar_category{
	list-style-type: none;
	font-size: 16px;
}

.sidebar_category.current:before {
	font-family: 'FontAwesome';
	content: '\f0a4';
	margin-left: -24px;
	color: #317bcf;
	font-size: 18px;
	margin-right: 2px;
	margin-top: 0;
	margin-bottom: 0;
}

.sidebar_item {
	list-style-type: none;
	font-size: 16px;
}

.sidebar_item.current:before {
	font-family: 'FontAwesome';
	content: '\f0a4';
	margin-left: -24px;
	color: #317bcf;
	font-size: 18px;
	margin-right: 6px;
	margin-top: 0;
	margin-bottom: 0;
}

aside#sidebar {
	width: 244px;
}

.post-content {
	text-align: left;
}

.post-categories{
	vertical-align: text-bottom;
	display: inline;
}

.post-category {
	vertical-align: middle;
	color: #FFFFFF;
	background: #317bcf;
	border-color: #000000;
	border-width: 1px;
	border-radius: 1.25em;
	padding: 1px 6px 3px 6px;
	font-size: 75%;
	font-weight: bold;
	line-height: 1em;
}

.post-category.active{
	color: #275da1;
	font-weight: bolder;
	background-color: #edc51e;
	border: 1px solid #edb700;
}

.post-category.active > a, .post-category.active > a:hover {
	color: #275da1;
	text-decoration: none;
}

.post-category-link, .post-category-link:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#post_author {
	position: absolute;
	top: 0;
	right: 0;
}

.article {
	position: relative;
}

.archive-title {
	display: inline;
}

.archive-year {
	font-size: 44px;
	font-family: 'Vollkorn', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: bold;
	color: #666666;
	margin-left: -60px;
}

.post-date {
	display: inline;
}

.post-meta{
	margin-bottom: -10px;
}

.post-content > div > pre > code{
	color: #d3d3cd;
	background-color: transparent;
}

.post-content > div > pre {
	white-space: pre;
	text-align: left;
	padding: 0;
	font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
	font-size: 14px;
	padding: 0 1.5em;
	line-height: 1.8em;
	background: #444;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}

.section-nav{
	text-align: center;
	padding-top: 20px;
}

#main-content > div > article > hr {
	height: 1px;
	color: #aaaaaa;
	background: #aaaaaa;
	font-size: 0;
	border: 0;
}

body > div > footer {
	width: initial;
	padding-left: initial;
	margin-top:50px;
}

body > div.footer > footer > div > div > p {
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: -4px;
}

.home_title{
	text-align: center;
	font-size: 70px;
	line-height: 1em;
	background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
	font-family: 'Vollkorn', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: normal;
	color: #317bcf;
}

.home_box {
	margin: 15px 0;
	text-align: center;
	border-width: 1px;
	border-color: #275da1;
	border-style: solid;
	
	background: transparent url(../images/header-bg.jpg) 0 0}

.home_wrapper {
	text-align: center;
}

.box_title {
	font-size: 42px;
	font-family: 'Lobster', 'Helvetica Neue', Helvetica, Arial, serif;
	font-weight: normal;
	color: #fff;
	padding-top: 10px;
}

.box_paragraph {
	color: #fff;
	text-align: left;
	margin-top: 10px;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 1.5em;
}

.home_link {
	color: #FDBB2E;
	margin: 10px;
	font-size: 16px;
	display: inline-block;
}

.home_link:hover {
	color: #FDBB2E;
}

.footer footer {
	padding-bottom: 0;
}

.escape-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav-btn {
	width: 60px;
}

.rss-anchor {
	color: #fca357;
}

.rss-anchor > i {
	padding-left: 2px;
}

#sidebar > div {
	position: absolute;
	bottom: 0px;
}

.highlight {
	padding-bottom: 20px;
	overflow: auto;
}

.smalltalk {
	margin-bottom: 0px;
	color: #b8c4cf;
	white-space: pre;
	display: inline-block;
	background: transparent;
}

.smalltalk .ss {
	color: #cbaaf5;
}

.smalltalk .err {
	background-color: transparent;
	color: #b8c4cf;
}

.smalltalk .bp {
	color: #ff6c6b;
}

.smalltalk .nf {
	color: #b8c4cf;
}

.smalltalk .m {
	color: #b8c4cf;
}

.smalltalk .o {
	color: #b8c4cf;
}

.smalltalk .p {
	color: #b8c4cf;
}

.smalltalk .nb {
	color: #b8c4cf;
}

.smalltalk .nc {
	color: #cb8951;
}

.smalltalk .nv {
	color: #ffcd8e;
}

.smalltalk .c {
	color: #929283;
}

.smalltalk .s {
	color: #789771;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.hint {
	background: #fff;
	text-shadow: none;
	overflow: auto;
	border: solid 1px #f2f2f2;
	padding: 0.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hint-icon {
	float: left;
	margin-right: 4px;
	color: #4479d0;
}

.hint-overlay {
	color: #FFFFFF;
	font-size: 24px;
}

.hint-text > p {
	display: inline;
	vertical-align: middle;
}

.alertbox {
	background: #fff;
	text-shadow: none;
	overflow: auto;
	border: solid 1px #f2f2f2;
	padding: 0.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.alert-icon {
	float: left;
	margin-right: 4px;
	color: #ff5c59;
}

.alert-text > p {
	display: inline;
	vertical-align: middle;
}

.alert-overlay {
	color: #FFFFFF;
	font-size: 24px;
}

.question {
	background: #fff;
	text-shadow: none;
	overflow: auto;
	border: solid 1px #f2f2f2;
	padding: 0.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.question-icon {
	float: left;
	margin-right: 4px;
	color: #4479d0;
}

.question-overlay {
	color: #FFFFFF;
	font-size: 24px;
}

.question-text > p {
	display: inline;
	vertical-align: middle;
}

h4 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.figure {
	text-align: center;
}

#post_author > div.post-avatar > a > img {
  width: 80px;
}

#post_author > div.post-avatar {
  text-align: right;
}